.main.container {
    margin-top: 2em;
}
.content {
    margin-top: 3em;
    width: 90% !important;
}
.user-data-menu{
    width:45%;
}
.ref-curves-menu{
    width: 30%
}
.results-menu{
    width:25%;
}
.userDataInput {
    width: 50%;
}
#names {
    width:75%;
}
.ui.message {
    width: 65%;
    margin: 0 auto;
}
.uploadForm{
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px dashed #000000;
    min-height: 9em !important;
    min-width: 12em !important;
}
.uploadForm p{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2.5em;
    text-align: center;
    color: #000000;
    font-size: large;
}
.uploadForm input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
.uploadForm button:active{
    border:0;
}
#uploadButton{
    margin-left: 10%;
    margin-right: 10%;
}