.main.container {
    margin-top: 2em;
}
.content {
    margin-top: 3em;
    width: 90% !important;
}
.userDataInput {
    width: 50%;
}
#names {
    width:75%;
}
.ui.message {
    width: 65%;
    margin: 0 auto;
}