<div>
    <div class="ui segment" ng-show="!homeController.userDataLoaded">
        <b>Load user data: </b>
        <form class="uploadForm">
            <input type="file" id="excel_file" accept=".xls,.xlsx,.csv">
            <p>Drag your files here or click in this area.</p>
        </form>
        <div id="uploadButton" class="ui teal button" ng-click="homeController.uploadFile()">
            Load data
        </div>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment user-data-menu">
            <b>User data(curves): </b> <a ng-show="!homeController.userDataLoaded" class="ui left pointing red basic label">User data are not loaded !!!</a>
            <br><br>
            <button class="ui teal button" style="margin-top:5px" ng-click="homeController.viewUserDataInGraph()">
                View in graph
            </button>
            <button class="ui blue button" style="margin-top:5px" ng-click="homeController.compute()">
                Compute
            </button>
        </div>
        <div class="ui segment ref-curves-menu">
            <b>Reference data(curves): </b>
            <br><br>
            <div id="names" class="ui multiple selection dropdown" style="display: block; width: 90%">
                <i class="dropdown icon"></i>
                <div class="default text">Select...</div>
                <div class="menu">
                    <div class="item" ng-repeat="name in names" data-value="{{name.name}}">
                        {{name.acronym}}
                    </div>
                </div>
            </div>
            <div class="ui teal button" style="margin-top:5px" ng-click="homeController.drawGraph()">
                Add to graph
            </div>
        </div>
        <div class="ui segment results-menu">
            <b>Results:</b>
            <br>
            <div class="ui compact message" id="computation-results" ng-show="homeController.result != undefined">
                <b>User data matched with: </b>{{homeController.result.refCurveName}}<br>
                <b>Match was: </b>{{homeController.result.matchInPerc}}%<br>
                {{homeController.result.pointsFitInMargin}}/{{homeController.result.numberOfPoints}}<br>
            </div>
            <br>
            <div class="ui teal button" ng-click="homeController.clearGraph()">
                Clear graph
            </div>
        </div>
    </div>
    <div class="ui segment">
        <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                chart-series="series" chart-click="onClick"></canvas>
    </div>
    <br>
</div>