<div>
    <!--
    <h2>Create inserts to database</h2>
    <div class="ui action input">
        <input type="text" ng-model="homeController.inserts" placeholder="insert">
        <button class="ui button" ng-click="homeController.createInsert()">Create</button>
    </div>
    <input type="text" ng-model="homeController.name" placeholder="">
    <br>
    -->
    <div class="ui horizontal segments">
        <div class="ui segment">
            <b>Copy user data here: </b>
            <br><br>
            <div class="input_fields_wrap">
                <div class="ui input" style="display: block;">
                    <input class="userDataInput" type="text" name="inputs[]">
                    <i class="small inverted circular green plus link icon add_field_button"
                       style="margin-top:10px"></i>
                </div>
            </div>
            <button class="ui teal button" style="margin-top:5px" ng-click="homeController.viewInGraph()">
                View in graph
            </button>
            <button class="ui teal button" style="margin-top:5px" ng-click="homeController.addDataToGraph()">
                Add and compute
            </button>
            <button class="ui teal button" style="margin-top:5px">
                Median in graph
            </button>
        </div>
        <div class="ui segment">
            <b>Choose from database </b>
            <br><br>
            <div id="names" class="ui multiple selection dropdown" style="display: block; width: 90%">
                <i class="dropdown icon"></i>
                <div class="default text">Select...</div>
                <div class="menu">
                    <div class="item" ng-repeat="name in homeController.names" data-value="{{name.name}}">
                        {{name.acronym}}
                    </div>
                </div>
            </div>
            <div class="ui teal button" style="margin-top:5px" ng-click="homeController.drawGraph()">
                Draw
            </div>
        </div>
        <div class="ui segment">
            <b>Results:</b>
            <br><br>
            <div class="ui teal button" ng-click="homeController.clearGraph()">
                Clear graph
            </div>
        </div>
    </div>
    <div class="ui segment">
        <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                chart-series="series" chart-click="onClick"></canvas>
    </div>
    <br>
</div>