<div>
    <div>
        <div class="ui success message" ng-show="adminController.success" style="margin-bottom:30px; width:60%;">
            <div class="header">
                {{adminController.successMessage}}
            </div>
        </div>
        <a href="/admin/datasets/create"><i class="large green plus icon"></i> Add new DATASET to DB</a>
        <br/>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Values</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dataset in adminController.datasets">
                <td>
                    {{dataset.name}}
                </td>
                <td>
                    <a href="javascript:void(0);" ng-click="adminController.copyToClipboard(dataset)">copy values(on
                        click)</a>
                </td>
                <td>
                    <i class="red large trash icon" ng-click="adminController.delete(dataset.name)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>