<div>
    <h3>Add new <b>dataset</b> to the database</h3>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Name of dataset</label>
                <input type="text" style="width:30%" ng-model="createController.name" name="name">
            </div>
            <div class="field">
                <label>Copy data here: </label>
                <input type="text" style="width:45%" ng-model="createController.values" name="values">
            </div>
            <button class="ui teal button" type="submit">Add</button>
        </form>
    </div>


    <!--<div class="ui segment">-->
        <!--<b>Name of dataset</b>-->
        <!--<div class="ui input" style="display: block;">-->
            <!--<input type="text" ng-model="createController.name">-->
        <!--</div>-->
        <!--<br/>-->
        <!--<b>Copy data here: </b>-->
        <!--<div class="ui input" style="display: block;">-->
            <!--<input type="text" ng-model="createController.values">-->
        <!--</div>-->
    <!--</div>-->
    <!--<button class="ui teal button" style="margin-top:5px" ng-click="createController.addToDb()">-->
        <!--Add-->
    <!--</button>-->
</div>