<div>
    <div>
        <div class="ui success message" ng-show="adminController.success" style="margin-bottom:30px;">
            <div class="header">
                {{adminController.successMessage}}
            </div>
        </div>
        <a href="#" ng-click="adminController.addData()"><i class="large green plus icon"></i> Add new reference curves to DB</a>
        <div class="ui segment" ng-show="adminController.newDataField">
            <b>Load user data: </b>
            <form class="uploadForm">
                <input type="file" id="admin_excel_file" accept=".xls,.xlsx,.csv">
                <p>Drag your files here or click in this area.</p>
            </form>
            <div id="uploadButton" class="ui teal button" ng-click="adminController.uploadFile()">
                Load data
            </div>
        </div>
        <br/>
        <a href="#" ng-click="adminController.downloadData()"><i class="large download icon"></i> Download data currently in DB</a>
        <br/>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Acronym</th>
                <th>Note</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="refCurve in adminController.refCurves">
                <td>
                    {{refCurve.name}}
                </td>
                <td>
                    {{refCurve.acronym}}
                </td>
                <td>
                    {{refCurve.note}}
                </td>
                <td>
                    <i class="red large trash icon" ng-click="adminController.delete(refCurve.name)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>