<div>
    <div class="ui negative message" ng-show="createController.error"
         style="margin-bottom:30px;">
        <div class="header">
            {{createController.errorMessage}}
        </div>
    </div>
    <h3>Add new <b>dataset</b> to the database</h3>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Name of dataset</label>
                <input type="text" style="width:25%" ng-model="createController.name" name="name">
            </div>
            <div class="field">
                <label>Acronym</label>
                <input type="text" style="width:15%" ng-model="createController.acronym" name="acronym">
            </div>
            <div class="field">
                <label>Note</label>
                <input type="text" style="width:45%" ng-model="createController.note" name="note">
            </div>
            <div class="field">
                <label>Copy data here: </label>
                <input type="text" style="width:70%" ng-model="createController.values" name="values">
            </div>
            <button class="ui teal button" type="submit">Add</button>
        </form>
    </div>
</div>