<div>
    <div class="ui negative message" ng-show="updateController.error">
        <div class="header">
            {{updateController.errorMessage}}
        </div>
    </div>
    <h3>Update <b>dataset</b></h3>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Name of dataset</label>
                <input type="text" style="width:25%" ng-model="updateController.name" name="name">
            </div>
            <div class="field">
                <label>Copy data here: </label>
                <input type="text" style="width:70%" ng-model="updateController.values" name="values">
            </div>
            <button class="ui teal button" type="submit">Update</button>
        </form>
    </div>
</div>